<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyt.videolibrary" >

<!--    <application-->
<!--        android:largeHeap="true"-->
<!--        android:supportsRtl="true">-->
<!--    &lt;!&ndash;        android:name="${SPLASH_ACTIVITY_NAME}"&ndash;&gt;-->
<!--    <activity-->
<!--        android:name=".VideoSingleFullScreenActivity"-->
<!--        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--        android:exported="true"-->
<!--        android:screenOrientation="landscape"-->
<!--        android:theme="@style/VideoBaseTheme">-->
<!--    </activity>-->

<!--    </application>-->

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:label="@string/app_aaaaname"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/VideoBaseTheme">-->
<!--        <activity android:name=".VideoSingleFullScreenActivity"-->
<!--            android:launchMode="singleTop"-->
<!--            >-->
<!--        </activity>-->
<!--    </application>-->
</manifest>


